p { 
color: red; 
}

p {
	color:#0000FF;
}

}
body{
	font-family: sans-serif;
}
p{
	font-size: 12px
}
p{
	text-decoration: line-through;
}
h2{
	text-decoration: underline;
}
h1{
	text-transform: uppercase;
}

h1{
	margin: 20px;
	padding: 40px;
	border-style: dashed;
	border-width: 5px;
	border-color: red
}
#intro{
	
	border-width: 1px;
	border-style: solid;
	border-color: black;
}
.spotlight{
background-color: #FEFE22;
}
h2,p{
	color: #006400;
}